// Main Styles

.full-width {
    width: 100%;
    max-width: 100%;
    .columns {
        padding-bottom: rem-calc(30);
    }
}

h1 {
    @include setfont('Oswald');
    font-size: rem-calc(30);
    text-transform: uppercase;
    color: #333;
    text-align: center;
    padding: rem-calc(20) 0;
}

h2 {
    font-weight: normal;
    text-align: center;
    span {
        background-color: #FA8334;
        color: #fff;
        @include rounded(rem-calc(5));
        @include setfont('Roboto');
        padding: rem-calc(5) rem-calc(15);
        font-size: rem-calc(11);
        text-transform: uppercase;
    }
}

h3 {
    @include setfont('Roboto');
    font-size: rem-calc(12);
    color: #333;
    text-align: center;
    a {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        &:hover {
            color: #999;
        }
    }
}

#board {
    font-size: 0;
    padding: 0 rem-calc(5) rem-calc(5) 0;
    margin: 0 auto;
    .board-row {
        display: block;
        text-align: center;
    }
    .tiles {
        @include inline-block;
        border: 1px solid #939393;
        width: rem-calc(100);
        height: rem-calc(100);
        margin: rem-calc(5) 0 0 rem-calc(5);
        cursor: pointer;
        font-size: rem-calc(95);
        text-align: center;
        &:hover {
            border-color: #333;
        }
        i {
            margin-top: rem-calc(3);
        }
    }
}

#button {
    text-align: center;
    margin-top: rem-calc(20);
    span {
        @include buttons;
        background-color: #30940D;
        color: #fff;
        @include rounded(rem-calc(8));
        @include setfont('Roboto');
        font-weight: bold;
    }
}

.ui-widget {
    @include setfont('Roboto');
    font-size: rem-calc(12);
    .ui-dialog-title {
        @include setfont('Oswald');
        font-size: rem-calc(15);
        text-transform: uppercase;
    }
    .ui-dialog-content {
        @include setfont('Roboto');
        font-size: rem-calc(12);
        padding: rem-calc(20) rem-calc(10);
    }
    .ui-button-text {
        @include setfont('Oswald');
        text-transform: uppercase;
        font-weight: bold;
    }
}
