// Mixins

@mixin inline-block($forced:false) {
    @if $forced {
        display: inline-block !important;
        *display: inline !important;
        zoom: 1;
        vertical-align: top;
    }
    @else {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
    }
    
}

@mixin rounded($size,$inline:false) {
    -moz-border-radius: $size $size $size $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size $size $size $size;
    -webkit-border-radius: $size;
    border-radius: $size $size $size $size;
    border-radius: $size;
    @if $inline {
        @include inline-block;
    }
}

@mixin buttons {
    text-decoration: none;
    text-align: center;
    padding: 10px 50px 10px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    white-space: nowrap !important;
}

// Possible value for font: PalatinoRegular PalatinoBold LeagueGothic FontIcons
@mixin setfont( $font, $important: false ){
    @if ( $important ) {
        font-family: '#{$font}', Arial, Helvetica, sans-serif !important;
    }
    @else {
        font-family: '#{$font}', Arial, Helvetica, sans-serif;
    }
    line-height: 1;
}